@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header{
    height: 100vh;
    width: 100%;
    background-position: center;
}
header nav{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

nav .navbar{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:20px auto 20px auto;
}

.navbar .logo{
    height: 110px;
    width: 220px;
}
.navbar .logo img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.navbar .menu{
    display: flex;
}
.navbar .menu li{
    list-style: none;
    margin: 0 10px;
}
.menu li a{
    font-size: 17px;
    text-decoration: none;
    color: rgb(54, 0, 54);
    font-weight: 500;
}

.menu li a:hover{
    color: blueviolet;
}
.navbar .searchbox{
    position: relative;
    height: 50px;
    width: 250px;
}
.searchbox input[type="text"]{
    position: absolute;
    left:0;
    top: 0;
    color: rgb(54, 0, 54);
    font-size: 17px;
    height: 70%;
    width: 100%;
    outline: none;
    border: 2px solid rgb(54, 0, 54);
    border-radius:12px;
    padding: 0 10px 0 40px;
}
.searchbox a{
    position: absolute;
    left: 10px;
    top: 35%;
    color: rgb(54, 0, 54);
    transform: translateY(-50%);
    font-size: 17px;
    padding: 0 5px 0 0;
    border-right: 2px solid rgb(54, 0, 54);
}