@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header{
    height: 100vh;
    width: 100%;
    background: url(images/background1.png) no-repeat;
    background-position: left;
}
header nav{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2000;
}

nav .navbar{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:20px auto 20px auto;
}

.navbar .logo{
    height: 110px;
    width: 220px;
}

.navbar .logo img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.navbar .menu{
    display: flex;
}
.navbar .menu li{
    list-style: none;
    margin: 0 10px;
}
.menu li a{
    font-size: 17px;
    text-decoration: none;
    color: rgb(54, 0, 54);
    font-weight: 500;
    transition: all 0.1s ease;
}

.menu li a:hover{
    color: blueviolet;
    border-bottom: 3px solid blueviolet;
}
.navbar .searchbox{
    position: relative;
    height: 50px;
    width: 250px;
    margin-top: 10px;
}
.searchbox input[type="text"]{
    position: absolute;
    left:0;
    top: 0;
    color: rgb(54, 0, 54);
    font-size: 17px;
    height: 70%;
    width: 100%;
    outline: none;
    border: 2px solid rgb(54, 0, 54);
    border-radius:12px;
    padding: 0 10px 0 40px;
}

.searchbox input[type="text"]:focus{
    border: 2px solid blueviolet;
}

.searchbox a{
    position: absolute;
    left: 10px;
    top: 35%;
    color: rgb(54, 0, 54);
    transform: translateY(-50%);
    font-size: 17px;
    padding: 0 5px 0 0;
    border-right: 2px solid rgb(54, 0, 54);
}
   
.searchbox a:hover{
    color: blueviolet;
}

.content{
    position: absolute;
    top: 33%;
    left: 8%;
}

.content .text{
    font-size: 27px;
    color: rgb(54, 0, 54);
}
.content .name{
    font-size: 75px;
    color: rgb(54, 0, 54);
    font-weight: 500;
    margin: -20px 0 0 -3px;
}
.content .job{
    font-size: 40px;
    display: flex;
}

.content .job .typingtext{
    color: rgb(179, 0, 255);
    margin-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    border-right:4px solid rgb(179, 0, 255) ; 
    animation: typing 5s steps(15) infinite;
}

@keyframes typing {
    0%{
        width: 0ch;
    }
    50%{
        width: 15ch;
    }
    100%{
        width: 0ch;
    }
    
}


.content .buttons{
    margin: 20px 0 0 50px;
}

.content .buttons button{
    color: rgb(255, 255, 255);
    margin: 0 10px;
    padding: 8px 26px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 12px;
    outline: none;
    border: none;
    background: linear-gradient(13deg,rgb(255, 0, 238) 10%, rgb(136, 0, 255) 100%);
    transition: all 0.3s ease;
}

.content .buttons button:hover{
    transform: scale(0.98);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

header .profile img{
    position: absolute;
    right: 80px;
    bottom: 0;
    height: 95%;
}

header .mediaicons{
    position: absolute;
    right: 40px;
    bottom: 40px;
    display:  flex;
    flex-direction: column;
}
.mediaicons a{
    margin-left: 8px 0;
    font-size: 20px ;
    color: rgb(179, 0, 255);
    font-weight: 500 ;
    opacity: 0.7;
    transition: all 0.3s ease;
}

.mediaicons a:hover{
    opacity: 1;
}